<!DOCTYPE html>
<html lang="en">
  <head>
        <title>polyHeader-view</title>
        <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        
<!--    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        <link rel="import" href="../polymerElements/dom-element.html"> -->
        <link rel="import" href="/polymerElements/gameHeader.html">
    </head>
    <body class="page">
        <img class="page" id="headerImg" src="@routes.Assets.versioned("images/singlePictures/schach_header1.jpg")"\>
        <dom-gameHeader class="page"></dom-gameHeader>
    </body>
    </html>
