@(user: service.DemoUser, env: securesocial.core.RuntimeEnvironment)
@import securesocial.core.IdentityProvider
@import securesocial.core.AuthenticationMethod._
@import Http.Context.Implicit


<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
        <meta name="description" content="">
        <title>Starter-Vorlage für Bootstrap</title>
        <!-- Bootstrap-CSS -->
        <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Besondere Stile für diese Vorlage 
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap_starter-template.css")"> -->
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css"> 
        <link rel="import" href="/polymerElements/dom-gameField.html">
        
    </head>

    <body id="bootstrap-overrides">

<!--
=========================================================================================
=========================================================================================
=========================================================================================
horizontal standard example bootstrap menu navbar-header 

        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation ein-/ausblenden</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Projekt-Titel</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Start</a></li>
                <li><a href="#ueber">Über</a></li>
                <li><a href="#kontakt">Kontakt</a></li>
              </ul>
            </div><!--/.nav-collapse -->
<!--          </div>
        </nav>
    
        <div class="container .col-lg-8 ">
            <div class="page" id="cssDebugTest">
            
                <div class="contentPart">
                    <div class="pagePanel">
                        <dom-gameHeader></dom-gameHeader>
                    </div>
                    <div class="pagePanel">
                        <dom-footer></dom-footer> 
                    </div>
                    <div class="pagePanel">
                        <p class="pagePanel"><a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">ANOTHER LOGOUT</a></p>
                    </div>
                </div>    
            </div>   

        </div><!-- container -->
        
    <div class="contentPart">
        <div class="navLinks">
            <nav class="navbar navbar-inverse" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navLinks" href="/">Home</a></li>
                    <li><a class="navLinks" href="/newGamePage">Start a new Game</a></li>
                    <li><a class="navLinks" href="http://www.chessmail.de/pages/fiderules.html">Show Chess Rules</a></li>
                    <li><a class="navLinks" href="#">About this Website</a></li>
                    <li><a class="navLinks" href="@securesocial.controllers.routes.LoginPage.logout()">Log out</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="gameField">
            <dom-gameField>
            </dom-gameField>
        </div><!-- gameField -->
    </div>




<!--
=========================================================================================
=========================================================================================
=========================================================================================
-->

    </body>
</html>
