.page{
    position:       relative;
    width:          1200px;
    margin-top:     0%;    
    margin-left:    auto;
    margin-right:   auto;
    
}

#headerImg{
    margin-top: 0%;    
    height:     200px;

}