@breite:             1200px;
@marg:              20%;

.page{
    min-width:      @breite;
    max-width:      @breite;
    position:       relative;
//    width:          @weite;
    margin-top:     0%;    
    margin-left:    @marg;
    margin-right:   @marg;
    border:         1px solid red;
}

#headerImg{
    margin:             auto auto;
    height:             200px;
}